Repository sorcerers-apprentices/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:ts:fix, npm run lint:scss:fix, npm run test:unit

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["npm run format", "npm run lint:ts:fix"],
  "*.{css,scss}": ["npm run format", "npm run lint:scss:fix"],
  "*.{test,spec}.{ts,tsx}": ["npm run test:unit"]
}

feat: change styles for cart button
  src/components/Category/Category.module.scss
Due: npm run format, npm run lint:scss:fix

feat: change styles at about page
  src/components/AboutCard/AboutCard.module.scss
  src/components/AboutSection/About/About.tsx
  src/components/AboutSection/AboutSection.module.scss
  src/components/AboutSection/AboutSection.tsx
  src/components/AboutUs/AboutUs.module.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: delete border for button
  src/components/Category/Category.module.scss
Due: npm run format, npm run lint:scss:fix

feat: delete ouyline for buttons
  src/components/Category/Category.module.scss
  src/styles/mixins.scss
Due: npm run format, npm run lint:scss:fix

feat: add color for buttons
  src/styles/mixins.scss
Due: npm run format, npm run lint:scss:fix

feat: change styles for product page
  src/pages/ProductPage/ProductPage.module.scss
  src/styles/mixins.scss
Due: npm run format, npm run lint:scss:fix

feat: swap places decrement and increment
  src/components/CartSection/CartRow/CartRow.tsx
Due: npm run format, npm run lint:ts:fix

feat: add hover for card if icon is in hover
  src/components/Category/Category.module.scss
Due: npm run format, npm run lint:scss:fix

fix: code review
  src/components/CartSection/CartTable/CartTable.tsx
  src/components/CartSection/cartFunctions.test.ts
  src/components/Category/Category.tsx
  src/components/Category/ProductList/ProductList.tsx
  src/components/Category/RenderCategory/CategoryMenu.tsx
  src/pages/ProductPage/ProductPage.tsx
  src/shared/utilities/commerceTools-utilities.ts
  src/shared/utilities/price.ts
  src/shared/utilities/type-utilities.ts
Due: npm run format, npm run lint:ts:fix, npm run test:unit

feat: add test for empty cart
  eslint.config.js
  src/components/CartSection/CartTable/CartTable.test.tsx
Due: npm run format, npm run lint:ts:fix, npm run test:unit

fix: fix test for empty cart
  src/components/CartSection/CartTable/CartTable.test.tsx
Due: npm run format, npm run lint:ts:fix, npm run test:unit

fix: fixed github action testing
  .github/workflows/main.yml
Due: none

feat: make cart-types for type TCartItem
  src/components/CartSection/CartMapper.tsx
  src/components/CartSection/CartRow/CartRow.tsx
  src/components/CartSection/CartTable/CartTable.tsx
  src/types/cart-types.ts
  src/types/user-types.ts
Due: npm run format, npm run lint:ts:fix

feat: add image for open-graph
  index.html
  public/images/screenshot.png
Due: none

feat: add image for open-graph
  index.html
Due: none

feat: add useQuery and replace project
  .env.example
  .gitignore
  package-lock.json
  package.json
  public/Categories.csv
  public/categories.csv
  src/shared/hooks/useQueryFetch.ts
Due: npm run format, npm run lint:ts:fix
