Repository sorcerers-apprentices/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:ts:fix, npm run lint:scss:fix, npm run test:unit

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["npm run format", "npm run lint:ts:fix"],
  "*.{css,scss}": ["npm run format", "npm run lint:scss:fix"],
  "*.{test,spec}.{ts,tsx}": ["npm run test:unit"]
}

feat: add toast notification
  src/shared/ui/Toasts/Toasts.module.scss
  src/shared/ui/Toasts/Toasts.tsx
  src/styles/variables.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: change some styles
  src/shared/ui/Button/Button.module.scss
  src/shared/ui/Form/Form.module.scss
  src/shared/ui/InputComponent/InputComponent.module.scss
  src/shared/ui/InputComponent/InputComponent.tsx
  src/styles/base.scss
  src/styles/mixins.scss
  src/styles/variables.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: delete props for select, add styles
  src/components/LoginForm/FormButton.module.scss
  src/components/LoginForm/FormButton.tsx
  src/components/RegistrationForm/RegistrationForm.module.scss
  src/components/RegistrationForm/RegistrationForm.tsx
  src/shared/ui/Button/Button.module.scss
  src/shared/ui/Form/Form.module.scss
  src/shared/ui/InputComponent/InputComponent.tsx
  src/shared/ui/SelectInput/SelectInput.module.scss
  src/shared/ui/SelectInput/SelectInput.tsx
  src/styles/mixins.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add products
  public/categories.csv
  public/products.csv
Due: none

feat: add hero section
  public/images/cat-transparent-bg.png
  src/components/HeroSection/HeroSection.module.scss
  src/components/HeroSection/HeroSection.tsx
  src/pages/MainPage/MainPage.tsx
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add styles for notification
  src/shared/ui/Toasts/Toasts.module.scss
  src/shared/ui/Toasts/Toasts.tsx
  src/styles/variables.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

fix: fixed notification display time
  src/shared/ui/Toasts/Toasts.tsx
Due: npm run format, npm run lint:ts:fix

feat: delete token at logout
  src/hooks/useAuth.tsx
  src/server/client.ts
Due: npm run format, npm run lint:ts:fix

feat: add an account logout button
  src/components/Header/Header.tsx
Due: npm run format, npm run lint:ts:fix

fix: fix conflicts
  src/styles/variables.scss
Due: npm run format, npm run lint:scss:fix

feat: add checkboxes for registration
  src/components/Header/NavigationBar/NavigationBar.module.scss
  src/components/RegistrationForm/AddressField/AddressField.module.scss
  src/components/RegistrationForm/AddressField/AddressField.tsx
  src/components/RegistrationForm/RegistrationForm.module.scss
  src/components/RegistrationForm/RegistrationForm.tsx
  src/shared/ui/Checkbox/Checkbox.module.scss
  src/shared/ui/Checkbox/Checkbox.tsx
  src/styles/base.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: implemented redirect for login page
  src/pages/LoginPage/LoginPage.tsx
Due: npm run format, npm run lint:ts:fix

feat: add logout function to eCommers tool and update useAuth
  src/components/LoginForm/LoginForm.tsx
  src/hooks/useAuth.tsx
  src/server/auth-api.ts
  src/server/client.ts
Due: npm run format, npm run lint:ts:fix

fix: fix styles for not-found-page
  src/pages/NotFoundPage/NotFoundPage.module.scss
  src/pages/NotFoundPage/NotFoundPage.tsx
  src/shared/ui/Button/Button.module.scss
  src/styles/mixins.scss
  src/styles/variables.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

fix: fix styles for error psge
  src/app/App.tsx
  src/pages/ErrorPage/ErrorPage.module.scss
  src/pages/ErrorPage/ErrorPage.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/pages/MainPage/MainPage.tsx
  src/pages/NotFoundPage/NotFoundPage.module.scss
  src/pages/NotFoundPage/NotFoundPage.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/pages/RegistrationPage/RegistrationPage.tsx
  src/styles/base.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add red color for borders of inputs with errors
  src/shared/ui/InputComponent/InputComponent.module.scss
  src/shared/ui/InputComponent/InputComponent.tsx
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add padding for cursor poiner for showing password
  src/shared/ui/InputComponent/InputComponent.module.scss
Due: npm run format, npm run lint:scss:fix

feat: add styles for disabled button
  src/styles/mixins.scss
Due: npm run format, npm run lint:scss:fix

feat: add logo as link
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add default shipping and billing addresses, add option do these the same
  eslint.config.js
  src/components/LoginForm/LoginForm.tsx
  src/components/RegistrationForm/RegistrationForm.tsx
  src/hooks/useValidate.tsx
  src/server/auth-api.ts
  src/shared/ui/Input/Input.tsx
  src/shared/ui/Toggler/Toggler.scss
  src/shared/ui/Toggler/Toggler.tsx
  src/shared/utilities/validation.test.ts
  src/shared/utilities/validation.ts
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix, npm run test:unit

feat: add user bar for header
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/components/Header/NavigationBar/NavigationBar.tsx
  src/components/Header/UserBar/UserBar.module.scss
  src/components/Header/UserBar/UserBar.tsx
  src/components/Header/UserButton/UserButton.module.scss
  src/components/Header/UserButton/UserButton.tsx
  src/components/Header/UserMenu/UserMenu.module.scss
  src/components/Header/UserMenu/UserMenu.tsx
  src/pages/MainPage/MainPage.tsx
  src/styles/base.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

fix: cod review
  src/components/RegistrationForm/RegistrationForm.tsx
  src/shared/ui/Toggler/Toggler.tsx
Due: npm run format, npm run lint:ts:fix

fix: change api
  src/server/api.ts
  src/server/auth-api.ts
  src/server/client.ts
Due: npm run format, npm run lint:ts:fix

fix: fix mixins
  src/styles/mixins.scss
Due: npm run format, npm run lint:scss:fix

fix: fix refresh token
  src/server/client.ts
Due: npm run format, npm run lint:ts:fix

fix: add disable for all inputs
  src/components/RegistrationForm/RegistrationForm.tsx
Due: npm run format, npm run lint:ts:fix

feat: make header
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/components/Header/NavigationBar/NavigationBar.module.scss
  src/components/Header/NavigationBar/NavigationBar.tsx
  src/components/Header/UserButton/UserButton.module.scss
  src/components/Header/UserButton/UserButton.tsx
  src/components/Header/UserMenu/UserMenu.module.scss
  src/components/Header/UserMenu/UserMenu.tsx
  src/pages/AboutPage/AboutPage.async.tsx
  src/pages/AboutPage/AboutPage.module.scss
  src/pages/AboutPage/AboutPage.tsx
  src/pages/ProfilePage/ProfilePage.module.scss
  src/pages/ProfilePage/ProfilePage.tsx
  src/shared/config/routeConfig/routeConfig.tsx
  src/styles/mixins.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: redirecting the user after successful registration
  src/components/RegistrationForm/RegistrationForm.tsx
  src/hooks/useAuth.tsx
Due: npm run format, npm run lint:ts:fix

feat: secure routes are configured
  src/app/providers/AppRouter/AppRouter.tsx
  src/shared/config/routeConfig/routeConfig.tsx
Due: npm run format, npm run lint:ts:fix

feat: guest secure routes are configured
  src/app/providers/AppRouter/AppRouter.tsx
  src/shared/config/routeConfig/routeConfig.tsx
Due: npm run format, npm run lint:ts:fix

feat: added notifications for authorization
  package-lock.json
  package.json
  src/app/App.tsx
  src/components/LoginForm/LoginForm.tsx
  src/hooks/useAuth.tsx
Due: npm run format, npm run lint:ts:fix

feat: added notifications for registration
  src/components/RegistrationForm/RegistrationForm.tsx
Due: npm run format, npm run lint:ts:fix

chore: delete gh-pages from dependences
  package.json
Due: none

feat: changed the content of notifications
  src/components/LoginForm/LoginForm.tsx
  src/components/RegistrationForm/RegistrationForm.tsx
  src/pages/ErrorPage/ErrorPage.tsx
Due: npm run format, npm run lint:ts:fix

refactor: unused code removed
  src/shared/ui/Toasts/Toasts.module.scss
  src/shared/ui/Toasts/Toasts.tsx
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add registration and login buttons
  src/components/Header/NavigationBar/NavigationBar.module.scss
  src/components/Header/UserBar/UserBar.module.scss
  src/components/Header/UserBar/UserBar.tsx
  src/components/Header/UserButton/UserButton.module.scss
  src/components/Header/UserButton/UserButton.tsx
  src/components/Header/UserMenu/UserMenu.module.scss
  src/components/LoginSection/LoginSection.module.scss
  src/components/LoginSection/LoginSection.tsx
  src/components/RegistrationSection/RegistrationSection.module.scss
  src/components/RegistrationSection/RegistrationSection.tsx
  src/pages/AboutPage/AboutPage.module.scss
  src/pages/AboutPage/AboutPage.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/pages/ProfilePage/ProfilePage.module.scss
  src/pages/ProfilePage/ProfilePage.tsx
  src/pages/RegistrationPage/RegistrationPage.tsx
  src/styles/base.scss
  src/styles/mixins.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

fix: fix bug with closing user menu
  src/components/Header/UserButton/UserButton.tsx
  src/components/Header/UserMenu/UserMenu.tsx
  src/pages/LoginPage/LoginPage.tsx
Due: npm run format, npm run lint:ts:fix

refactor: guest and private access has been changed
  src/app/providers/AppRouter/AppRouter.tsx
  src/app/providers/AppRouter/GuestGuard.tsx
  src/app/providers/AppRouter/PrivateGuard.tsx
  src/shared/config/routeConfig/routeConfig.tsx
Due: npm run format, npm run lint:ts:fix

feat: add media queries and hovers
  package-lock.json
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/components/Header/UserBar/UserBar.tsx
  src/components/Header/UserButton/UserButton.tsx
  src/components/Header/UserMenu/UserMenu.module.scss
  src/components/HeroSection/HeroSection.module.scss
  src/components/HeroSection/HeroSection.tsx
  src/components/LoginSection/LoginSection.module.scss
  src/components/LoginSection/LoginSection.tsx
  src/components/RegistrationForm/RegistrationForm.module.scss
  src/components/RegistrationForm/RegistrationForm.tsx
  src/components/RegistrationSection/RegistrationSection.module.scss
  src/components/RegistrationSection/RegistrationSection.tsx
  src/shared/ui/Toggler/Toggler.scss
  src/styles/base.scss
  src/styles/mixins.scss
  src/styles/variables.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix
