Repository sorcerers-apprentices/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format:check, npm run stylelint

refactor: switch quotes
  vite.config.ts
Due: npm run lint, npm run format:check

feat: run all linters during build and respect package lock json
  .github/workflows/main.yml
Due: none

feat: recreate package lock file
  package-lock.json
Due: none

feat: set up vitest
  .github/workflows/main.yml
  .lintstagedrc.json
  config/vitest/vitest.config.ts
  package-lock.json
  package.json
  vite.config.ts
Due: npm run lint, npm run format:check

feat: testing example added
  .github/workflows/main.yml
  .lintstagedrc.json
  config/vitest/test-example/sum.js
  config/vitest/test-example/sum.test.js
  config/vitest/vitest.config.ts
Due: npm run lint, npm run format:check

fix: added typing for the test environment
  config/vitest/test-example/sum.js
  config/vitest/test-example/sum.test.js
  config/vitest/test-example/sum.test.ts
  config/vitest/test-example/sum.ts
  package-lock.json
  package.json
Due: npm run lint, npm run format:check

refactor: moved the config for testing
  package.json
  src/shared/temp/test-example/sum.test.ts
  src/shared/temp/test-example/sum.ts
  vitest.config.ts
Due: npm run lint, npm run format:check

refactor: plugged the test config into tsconfig
  tsconfig.node.json
Due: none

feat: plugged in the env files
  .env.example
  src/app/types/global.d.ts
  src/app/types/vite-environment.d.ts
  src/vite-environment.d.ts
  vite.config.ts
  vitest.config.ts
Due: npm run lint, npm run format:check

feat: configure CommerceTools api
  .env.example
  .gitignore
  package-lock.json
  package.json
  src/App.tsx
  src/app/types/vite-environment.d.ts
  src/environment.ts
  src/sdk/api.ts
  src/sdk/client.ts
  vite.config.ts
Due: npm run lint, npm run format:check

docs: added license
  LICENSE
Due: none

docs: added readme description
  LICENSE.md
  README.md
  package.json
Due: none

feat: code review comments
  src/App.tsx
  src/server/api.ts
  src/server/client.ts
Due: npm run lint, npm run format:check

feat: added basic styles and application variables
  src/App.scss
  src/app/App.tsx
  src/app/styles/index.scss
  src/app/styles/reset.scss
  src/app/styles/variables/global.scss
  src/index.scss
  src/main.tsx
Due: npm run lint, npm run format:check, npm run stylelint

refactor: changed interaction with env files
  .env.example
  .gitignore
  src/app/types/environment.ts
  src/server/api.ts
  src/server/client.ts
Due: npm run lint, npm run format:check

feat: added favicon
  index.html
  public/favicon.png
  public/vite.svg
Due: none

fix: fixed ci build
  src/App.tsx
Due: npm run lint, npm run format:check

docs: added data on working with the server
  README.md
Due: none

feat: implemented a function to add naming styles
  src/shared/lib/classNames/classNames.ts
Due: npm run lint, npm run format:check

fix: fixed generation of class naming mods
  src/shared/lib/classNames/classNames.ts
Due: npm run lint, npm run format:check

feat: added unit tests for class naming
  src/shared/lib/classNames/classNames.test.ts
  src/shared/lib/classNames/classNames.ts
  src/shared/temp/test-example/sum.test.ts
  src/shared/temp/test-example/sum.ts
Due: npm run lint, npm run format:check

feat: add template for PR
  .github/pull_request_template.md
Due: none

feat: add validation
  src/app/types/environment.ts
  src/server/client.ts
Due: npm run lint, npm run format:check

refactor: fetch has been moved to a separate hook
  src/App.tsx
  src/app/types/declaration.d.ts
  src/assets/react.svg
  src/server/api.ts
  src/shared/hooks/useFetch.tsx
Due: npm run lint, npm run format:check

fix: corrected ci startup conditions
  .github/workflows/main.yml
Due: none

feat: add buttons for navigation
  src/App.tsx
  src/Pages/error/index.tsx
  src/Pages/login/index.tsx
  src/Pages/main/index.tsx
  src/Pages/profil/index.tsx
  src/Pages/regestration/index.tsx
  src/components/NavigateButtons/ErrorPageButton/index.tsx
  src/components/NavigateButtons/LoginPageButton/index.tsx
  src/components/NavigateButtons/MainPageButton/index.tsx
  src/components/NavigateButtons/RegistrationPageButton/index.tsx
  src/components/NavigateButtons/index.tsx
  src/components/footer/index.tsx
  src/shared/ui/button/index.tsx
Due: npm run lint, npm run format:check

feat: delate navigation buttons
  .github/pull_request_template.md
  README.md
  src/App.tsx
  src/components/NavigateButtons/ErrorPageButton/index.tsx
  src/components/NavigateButtons/LoginPageButton/index.tsx
  src/components/NavigateButtons/MainPageButton/index.tsx
  src/components/NavigateButtons/RegistrationPageButton/index.tsx
  src/components/NavigateButtons/index.tsx
Due: npm run lint, npm run format:check

feat: change pages name
  src/Pages/ErrorPage/index.tsx
  src/Pages/LoginPage/index.tsx
  src/Pages/MainPage/index.tsx
  src/Pages/ProfilePage/index.tsx
  src/Pages/RegestrationPage/index.tsx
Due: npm run lint, npm run format:check

feat: add input ui
  src/pages/ErrorPage/ErrorPage.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/pages/MainPage/MainPage.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/pages/RegestrationPage/RegestraationPage.tsx
  src/shared/ui/Button/Button.tsx
  src/shared/ui/Input/Input.tsx
Due: npm run lint, npm run format:check

feat: add validation api
  src/App.tsx
  src/app/utils/validation.ts
  src/server/api.ts
  src/server/client.ts
Due: npm run lint, npm run format:check

feat: add validation tests
  src/app/utils/validation.test.ts
  src/app/utils/validation.ts
  src/shared/temp/test-example/sum.test.ts
  src/shared/temp/test-example/sum.ts
Due: npm run lint, npm run format:check

feat: add login form view
  src/App.tsx
  src/components/Footer/Footer.tsx
  src/components/LoginForm/EmailInput.tsx
  src/components/LoginForm/FormButton.tsx
  src/components/LoginForm/LoginForm.tsx
  src/components/LoginForm/PasswordInput.tsx
  src/shared/ui/Form/Form.tsx
  src/shared/ui/Input/Input.tsx
  src/shared/ui/Label/Label.tsx
Due: npm run lint, npm run format:check

feat: add button for visible password
  .github/workflows/main.yml
  package-lock.json
  package.json
  src/components/LoginForm/EmailInput.tsx
  src/components/LoginForm/LoginForm.tsx
  src/components/LoginForm/PasswordInput.tsx
  src/components/LoginForm/style.scss
  src/shared/ui/Input/Input.tsx
Due: npm run lint, npm run format:check, npm run stylelint

feat: add display f validation error for email
  src/components/LoginForm/EmailInput.tsx
Due: npm run lint, npm run format:check

feat: install react router
  .env.example
  package-lock.json
  package.json
  src/app/App.scss
  src/app/App.tsx
  src/app/index.scss
  src/app/types/vite-environment.d.ts
  src/main.tsx
  src/shared/utils/validation/validation.test.ts
  src/shared/utils/validation/validation.ts
Due: npm run lint, npm run format:check, npm run stylelint

feat: set up a basic router
  src/app/App.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/pages/MainPage/MainPage.tsx
Due: npm run lint, npm run format:check

feat: asynchronous component loading
  src/app/App.tsx
  src/pages/LoginPage/LoginPage.async.tsx
  src/pages/MainPage/MainPage.async.tsx
Due: npm run lint, npm run format:check

refactor: paths are in a separate config
  src/app/App.tsx
  src/app/providers/router/AppRouter.tsx
  src/shared/config/routeConfig/routeConfig.tsx
Due: npm run lint, npm run format:check

feat: add loader
  src/app/providers/router/AppRouter.tsx
  src/pages/MainPage/MainPage.tsx
  src/shared/ui/Loader/Loader.scss
  src/shared/ui/Loader/Loader.tsx
Due: npm run lint, npm run format:check, npm run stylelint

feat: processing of non-concrete routes is implemented
  src/app/App.tsx
  src/app/providers/router/AppRouter.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/pages/MainPage/MainPage.tsx
  src/pages/NotFoundPage/NotFoundPage.tsx
  src/shared/config/routeConfig/routeConfig.tsx
Due: npm run lint, npm run format:check

Path conditions:
  npm run lint: any of: *.{ts,tsx}
  npm run format:check: any of: *.{ts,tsx}
  npm run stylelint: any of: *.{css,scss}
