Repository sorcerers-apprentices/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:ts:fix, npm run lint:scss:fix, npm run test:unit

feat: add edition of adr esses
  package-lock.json
  package.json
  src/components/ProfileSection/ProfileMapper.tsx
  src/components/ProfileSection/ProfileSection.module.scss
  src/components/ProfileSection/ProfileSection.tsx
  src/components/ProfileSection/UserDataView/UserDataView.module.scss
  src/components/ProfileSection/UserDataView/UserDataView.scss
  src/components/ProfileSection/UserDataView/UserDataView.tsx
  src/server/updateProfleApi.ts
  src/styles/base.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add text searching
  src/components/Category/Category.module.scss
  src/components/Category/Category.tsx
  src/components/Category/ProductList/ProductList.module.scss
  src/pages/CatalogPage/CatalogPage.tsx
  src/server/api.ts
  src/shared/ui/InputComponent/InputComponent.tsx
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

refactor: removed logic from the component
  eslint.config.js
  src/components/Category/Category.tsx
  src/components/Category/RenderCategory/CategoryMenu.tsx
  src/pages/CatalogPage/CatalogPage.tsx
Due: npm run format, npm run lint:ts:fix

feat: add update and remove of default addresses
  src/components/ProfileSection/ProfileMapper.tsx
  src/components/ProfileSection/ProfileSection.tsx
  src/components/ProfileSection/UserDataView/UserDataView.tsx
  src/server/updateProfleApi.ts
  src/shared/ui/Checkbox/Checkbox.module.scss
  src/types/user-types.ts
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: replace slider, make address, password and profile pages
  public/images/cat-yellow-bg.jpeg
  src/components/Header/UserMenu/UserMenu.tsx
  src/components/LoginForm/LoginForm.tsx
  src/components/Profile/AddressesSection/AddressCard/AddressCard.tsx
  src/components/Profile/AddressesSection/AddressesSection.module.scss
  src/components/Profile/AddressesSection/AddressesSection.tsx
  src/components/Profile/PasswordSection/PassworSection.tsx
  src/components/Profile/PasswordSection/PasswordSection.module.scss
  src/components/Profile/ProfileMapper.tsx
  src/components/Profile/ProfileSection/ProfileSection.module.scss
  src/components/Profile/ProfileSection/ProfileSection.tsx
  src/components/Profile/ProfileSection/ProfileView/ProfileView.tsx
  src/components/Slider/Slider.scss
  src/components/Slider/Slider.tsx
  src/hooks/useAuth.tsx
  src/pages/AddressesPage/AddressesPage.async.tsx
  src/pages/AddressesPage/AddressesPage.tsx
  src/pages/MainPage/MainPage.tsx
  src/pages/PasswordPage/PasswordPage.async.tsx
  src/pages/PasswordPage/PasswordPage.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/server/updateAddressApi.ts
  src/server/updatePasswordApi.ts
  src/server/updateProfleApi.ts
  src/shared/config/routeConfig/routeConfig.tsx
  src/styles/mixins.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

fix: detete comments
  src/hooks/useAuth.tsx
  src/server/updateAddressApi.ts
  src/server/updateProfleApi.ts
Due: npm run format, npm run lint:ts:fix

feat: add basic styles for slider
  src/components/Slider/Slider.scss
  src/components/Slider/Slider.tsx
  src/pages/MainPage/MainPage.tsx
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: saving categories in query parameters
  src/components/Category/RenderCategory/CategoryMenu.tsx
Due: npm run format, npm run lint:ts:fix

feat: saving search query in query parameters
  src/components/Category/Category.tsx
Due: npm run format, npm run lint:ts:fix

fix: fixed search when a category is selected
  src/components/Category/Category.tsx
Due: npm run format, npm run lint:ts:fix

feat: add price and name sorting
  src/components/Category/Category.module.scss
  src/components/Category/Category.tsx
  src/components/Category/ProductList/ProductList.module.scss
  src/components/Category/SortComponent/SortComponent.module.scss
  src/components/Category/SortComponent/SortControlComponent.tsx
  src/components/RegistrationForm/RegistrationForm.tsx
  src/server/api.ts
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add validation of profile page
  src/components/Profile/AddressesSection/AddressesSection.tsx
  src/components/Profile/ProfileSection/ProfileSection.tsx
  src/components/Profile/ProfileSection/ProfileView/ProfileView.tsx
  src/hooks/useValidate.tsx
Due: npm run format, npm run lint:ts:fix

feat: add password validation
  src/components/Profile/PasswordSection/PassworSection.tsx
Due: npm run format, npm run lint:ts:fix

feat: add nomal addresses form
  src/components/LoginForm/LoginForm.tsx
  src/components/Profile/AddressMapper.tsx
  src/components/Profile/AddressesSection/AddressesSection copy.tsx
  src/components/Profile/AddressesSection/AddressesSection.tsx
  src/components/Profile/PasswordSection/PassworSection.tsx
  src/components/Profile/ProfileSection/ProfileSection.tsx
  src/shared/ui/AddressCardForm/AddressCardForm.module.scss
  src/shared/ui/AddressCardForm/AddressCardForm.tsx
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add brand filter
  src/components/Category/Category.tsx
  src/components/Category/PriceFilter/PriceFilter.tsx
  src/components/Category/SortComponent/SortControlComponent.tsx
  src/server/api.ts
Due: npm run format, npm run lint:ts:fix

feat: add price filter
  src/components/Category/Category.tsx
  src/components/Category/PriceFilter/PriceFilter.tsx
  src/server/api.ts
Due: npm run format, npm run lint:ts:fix

feat: add modal, change addresses section
  src/components/Profile/AddressMapper.tsx
  src/components/Profile/AddressesSection/AddressesSection.module.scss
  src/components/Profile/AddressesSection/AddressesSection.tsx
  src/components/Profile/ProfileSection/ProfileSection.module.scss
  src/components/Profile/ProfileSection/ProfileSection.tsx
  src/shared/ui/AddressCardForm/AddressCardForm.module.scss
  src/shared/ui/AddressCardForm/AddressCardForm.tsx
  src/shared/ui/Modal/Modal.module.scss
  src/shared/ui/Modal/Modal.tsx
  src/styles/mixins.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

fix: fix deploy bugs
  src/components/LoginForm/LoginForm.tsx
Due: npm run format, npm run lint:ts:fix

refactor: separated logic and ui
  src/components/Category/Category.tsx
  src/components/Category/SortComponent/SortControlComponent.tsx
  src/server/api.ts
Due: npm run format, npm run lint:ts:fix

fix: fixed filtering on page reloading
  src/components/Category/Category.tsx
Due: npm run format, npm run lint:ts:fix

feat: saving the selected brand in the url
  src/components/Category/Category.tsx
Due: npm run format, npm run lint:ts:fix

feat: saving the selected price in the url
  src/components/Category/Category.tsx
Due: npm run format, npm run lint:ts:fix

fix: fixed price filters
  src/components/Category/Category.tsx
Due: npm run format, npm run lint:ts:fix

feat: saving the selected meta in the url
  src/components/Category/Category.tsx
Due: npm run format, npm run lint:ts:fix

feat: add product page
  src/components/Category/Category.tsx
  src/components/Category/ProductList/ProductList.tsx
  src/pages/ProductPage/ProductPage.module.scss
  src/pages/ProductPage/ProductPage.tsx
  src/server/api.ts
  src/shared/config/routeConfig/routeConfig.tsx
  src/styles/base.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: saving the selected sorting in the url
  src/components/Category/SortComponent/SortControlComponent.tsx
Due: npm run format, npm run lint:ts:fix

feat: filter cleaning
  src/components/Category/Category.tsx
Due: npm run format, npm run lint:ts:fix

refactor: fixed transition to the catalog page
  src/components/Breadcrumbs/Breadcrumbs.module.scss
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/pages/ProductPage/ProductPage.module.scss
  src/pages/ProductPage/ProductPage.tsx
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: implemented hiding of header buttons
  src/components/Header/Header.tsx
  src/components/Header/NavigationBar/NavigationBar.tsx
Due: npm run format, npm run lint:ts:fix

fix: fix filter
  src/server/api.ts
Due: npm run format, npm run lint:ts:fix

feat: add slider to product page
  src/components/Slider/Slider.scss
  src/components/Slider/Slider.tsx
  src/pages/MainPage/MainPage.tsx
  src/pages/ProductPage/ProductPage.module.scss
  src/pages/ProductPage/ProductPage.tsx
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add modal with slider
  src/components/Modal/Modal.module.scss
  src/components/Modal/Modal.tsx
  src/pages/ProductPage/ProductPage.module.scss
  src/pages/ProductPage/ProductPage.tsx
  src/styles/variables.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: replace modal
  src/components/Modal/Modal.module.scss
  src/components/Modal/Modal.tsx
  src/pages/ProductPage/ProductPage.tsx
  src/shared/ui/Modal/Modal.module.scss
  src/shared/ui/Modal/Modal.tsx
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add addresses changing
  src/components/Profile/AddressesSection/AddressCard/AddressCard.tsx
  src/components/Profile/AddressesSection/AddressesSection copy.tsx
  src/components/Profile/AddressesSection/AddressesSection.module.scss
  src/components/Profile/AddressesSection/AddressesSection.tsx
  src/components/Profile/PasswordSection/PassworSection.tsx
  src/pages/AddressPage/AddressPage.async.tsx
  src/pages/AddressPage/AddressPage.module.scss
  src/pages/AddressPage/AddressPage.tsx
  src/pages/AddressesPage/AddressesPage.async.tsx
  src/pages/AddressesPage/AddressesPage.tsx
  src/server/api.ts
  src/server/updateAddressApi.ts
  src/server/updatePasswordApi.ts
  src/shared/config/routeConfig/routeConfig.tsx
  src/shared/ui/AddressCardForm/AddressCardForm.module.scss
  src/shared/ui/AddressCardForm/AddressCardForm.tsx
  src/shared/ui/Modal/Modal.module.scss
  src/shared/ui/SelectInput/SelectInput.tsx
  src/shared/ui/Toggler/Toggler.tsx
  src/types/user-types.ts
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: start improving styles
  src/components/Category/Category.module.scss
  src/components/Category/Category.tsx
  src/components/Category/ProductList/ProductList.module.scss
  src/components/Category/SortComponent/SortComponent.module.scss
  src/components/Category/SortComponent/SortControlComponent.tsx
  src/shared/ui/InputComponent/InputComponent.tsx
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add api for addresses
  src/components/Profile/AddressMapper.tsx
  src/components/Profile/AddressesSection/AddressesSection copy.tsx
  src/components/Profile/AddressesSection/AddressesSection.tsx
  src/components/Profile/PasswordSection/PassworSection.tsx
  src/server/updateAddressApi.ts
  src/shared/ui/AddressCardForm/AddressCardForm.tsx
  src/shared/ui/Modal/Modal.module.scss
  src/styles/variables.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add changes in search
  src/components/Category/Category.module.scss
  src/components/Category/ProductList/ProductList.module.scss
Due: npm run format, npm run lint:scss:fix

fix: fix bug in password section
  src/components/Profile/PasswordSection/PassworSection.tsx
Due: npm run format, npm run lint:ts:fix

feat: add addresses validation
  src/pages/AddressPage/AddressPage.tsx
  src/shared/utilities/validation.ts
Due: npm run format, npm run lint:ts:fix

Path conditions:
  npm run format: (any of: *.{ts,tsx}) or (any of: *.{css,scss})
  npm run lint:ts:fix: any of: *.{ts,tsx}
  npm run lint:scss:fix: any of: *.{css,scss}
  npm run test:unit: any of: *.{test,spec}.{ts,tsx}
