Repository sorcerers-apprentices/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:ts:fix, npm run lint:scss:fix, npm run test:unit

feat: add adaptive for header, password section, input, profile section
  src/components/Header/Header.module.scss
  src/components/Profile/PasswordSection/PasswordSection.module.scss
  src/components/Profile/ProfileSection/ProfileSection.module.scss
  src/components/Profile/ProfileSection/ProfileSection.tsx
  src/shared/ui/InputComponent/InputComponent.module.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add styles for address page
  src/pages/AddressPage/AddressPage.module.scss
  src/pages/AddressPage/AddressPage.tsx
  src/shared/ui/Modal/Modal.module.scss
  src/styles/mixins.scss
  src/styles/variables.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add footer
  src/components/Footer/Footer.module.scss
  src/components/Footer/Footer.tsx
  src/pages/AboutPage/AboutPage.tsx
  src/pages/CatalogPage/CatalogPage.tsx
  src/pages/MainPage/MainPage.tsx
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

fix: six submit button and validation of fields
  src/hooks/useValidate.tsx
  src/pages/AddressPage/AddressPage.tsx
  src/shared/utilities/validation.ts
Due: npm run format, npm run lint:ts:fix

feat: add classes for slider and modal
  src/components/Slider/Slider.scss
  src/components/Slider/Slider.tsx
  src/pages/ProductPage/ProductPage.module.scss
  src/pages/ProductPage/ProductPage.tsx
  src/shared/ui/Modal/Modal.tsx
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add toasters and fix error in console
  src/components/Slider/Slider.tsx
  src/pages/AddressPage/AddressPage.tsx
Due: npm run format, npm run lint:ts:fix

fix: fixed deploy
  netlify.toml
Due: none

fix: fixed deploy
  public/_redirects
Due: none

fix: fixed deploy
  index.html
Due: none

feat: add adaptive design for product page and modal
  src/components/Slider/Slider.scss
  src/components/Slider/Slider.tsx
  src/pages/ProductPage/ProductPage.module.scss
  src/pages/ProductPage/ProductPage.tsx
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

fix: fixed modal window closing
  src/shared/ui/Modal/Modal.tsx
Due: npm run format, npm run lint:ts:fix

feat: start adaptive for catalog
  src/components/Category/Category.module.scss
  src/components/Category/Category.tsx
  src/components/Category/ProductList/ProductList.module.scss
  src/components/Category/SortComponent/SortComponent.module.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: adaptive for catalog
  src/components/Category/Category.module.scss
  src/components/Category/ProductList/ProductList.module.scss
Due: npm run format, npm run lint:scss:fix

feat: adaptive for catalog
  src/components/Category/ProductList/ProductList.module.scss
  src/shared/ui/InputComponent/InputComponent.module.scss
  src/shared/ui/SelectInput/SelectInput.module.scss
Due: npm run format, npm run lint:scss:fix

feat: add stules for catalog section
  src/components/Category/Category.module.scss
  src/components/Category/Category.tsx
  src/components/Category/ProductList/ProductList.module.scss
  src/components/Category/RenderCategory/CategoryMenu.tsx
  src/components/Category/SortComponent/SortComponent.module.scss
  src/components/Category/SortComponent/SortControlComponent.tsx
  src/pages/MainPage/MainPage.tsx
  src/shared/ui/InputComponent/InputComponent.tsx
  src/shared/ui/SelectInput/SelectInput.tsx
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

fix: fix postalCode input
  src/pages/AddressPage/AddressPage.tsx
Due: npm run format, npm run lint:ts:fix

feat: make styles for calalog page
  src/components/Category/Category.module.scss
  src/components/Category/ProductList/ProductList.module.scss
  src/components/Category/ProductList/ProductList.tsx
  src/components/Category/SortComponent/SortComponent.module.scss
  src/components/Category/SortComponent/SortControlComponent.tsx
  src/styles/base.scss
  src/styles/media.scss
  src/styles/mixins.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add some styles for product page
  src/components/Category/Category.module.scss
  src/components/Slider/Slider.scss
  src/pages/ProductPage/ProductPage.tsx
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

fix: fix view of catalog
  src/components/Category/Category.module.scss
Due: npm run format, npm run lint:scss:fix

fix: fix submit button in registration
  src/components/RegistrationForm/RegistrationForm.tsx
  src/server/api.ts
Due: npm run format, npm run lint:ts:fix

fix: fix billing country
  src/components/RegistrationForm/RegistrationForm.tsx
Due: npm run format, npm run lint:ts:fix

feat: add product cart
  src/app/App.tsx
  src/app/providers/CartProvider/CartContext.ts
  src/app/providers/CartProvider/CartProvider.tsx
  src/app/providers/CartProvider/CartReducer.tsx
  src/server/api.ts
  src/server/client.ts
  src/shared/hooks/useFetch.tsx
Due: npm run format, npm run lint:ts:fix

fix: move pagination to separate component
  src/components/Category/Category.module.scss
  src/components/Category/ProductList/ProductList.tsx
  src/components/Pagination/Pagination.module.scss
  src/components/Pagination/Pagination.tsx
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: start work with cart
  src/components/Category/Category.module.scss
  src/components/Category/ProductList/ProductList.tsx
  src/pages/ProductPage/ProductPage.tsx
  src/server/api.ts
  src/shared/utilities/price.ts
  tsconfig.app.json
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add template for cart page
  src/components/CartSection/CartSection.module.scss
  src/components/CartSection/CartSection.tsx
  src/components/Header/UserBar/UserBar.tsx
  src/pages/CartPage/CartPage.async.tsx
  src/pages/CartPage/CartPage.tsx
  src/server/api.ts
  src/shared/config/routeConfig/routeConfig.tsx
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add loader and option adding product to cart
  src/components/Category/Category.module.scss
  src/components/Category/ProductList/ProductList.tsx
  src/server/api.ts
  src/shared/ui/Loader/Loader.module.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add fake data view on cart page
  src/components/CartSection/CartRow/CartRow.tsx
  src/components/CartSection/CartSection.tsx
  src/components/CartSection/CartTable/CartTable.tsx
  src/types/user-types.ts
Due: npm run format, npm run lint:ts:fix

fix: fix price on productPage, fix loader styles
  src/components/Category/Category.module.scss
  src/components/Category/ProductList/ProductList.tsx
  src/pages/ProductPage/ProductPage.tsx
  src/shared/ui/Loader/Loader.module.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add default view of cart data
  src/components/CartSection/CartMapper.tsx
  src/components/CartSection/CartRow/CartRow.tsx
  src/components/CartSection/CartSection.tsx
  src/components/CartSection/CartTable/CartTable.tsx
Due: npm run format, npm run lint:ts:fix

feat: add basic styles for image
  src/components/CartSection/CartRow/CartRow.tsx
  src/components/CartSection/CartSection.module.scss
  src/components/CartSection/CartTable/CartTable.tsx
  tsconfig.app.json
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: test environment is set up
  README.md
  package-lock.json
  package.json
  src/components/Category/Category.test.tsx
  src/components/Category/Category.tsx
  src/components/Footer/Footer.test.tsx
  src/shared/ui/Button/Button.test.tsx
  tsconfig.app.json
  vitest-setup.ts
  vitest.config.ts
Due: npm run format, npm run lint:ts:fix, npm run test:unit

fix: fixed test
  src/components/Category/Category.test.tsx
Due: npm run format, npm run lint:ts:fix, npm run test:unit

fix: fix discount
  src/components/Category/ProductList/ProductList.tsx
  src/pages/ProductPage/ProductPage.tsx
Due: npm run format, npm run lint:ts:fix

fix: fix display of discount in cart
  src/components/CartSection/CartMapper.tsx
  src/components/CartSection/CartSection.tsx
Due: npm run format, npm run lint:ts:fix

feat: impement api for removing 1 item, all items from cart
  src/components/CartSection/CartMapper.tsx
  src/components/CartSection/CartRow/CartRow.tsx
  src/components/CartSection/CartSection.tsx
  src/components/CartSection/CartTable/CartTable.tsx
  src/server/api.ts
  src/shared/hooks/useFetch.tsx
Due: npm run format, npm run lint:ts:fix

feat: add count for cart
  src/app/providers/CartProvider/CartContext.ts
  src/components/Header/CartCount/CartCount.module.scss
  src/components/Header/CartCount/CartCount.tsx
  src/components/Header/UserBar/UserBar.module.scss
  src/components/Header/UserBar/UserBar.tsx
  src/hooks/useCart.tsx
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

refactor: changed providers
  src/app/App.tsx
  src/app/providers/CartProvider/CartContext.ts
  src/app/providers/CartProvider/CartProvider.tsx
  src/app/providers/CartProvider/CartReducer.tsx
  src/app/providers/ProductsProvider/ProductsContext.ts
  src/app/providers/ProductsProvider/ProductsProvider.tsx
  src/app/providers/ProductsProvider/ProductsReducer.ts
  src/app/providers/ProductsProvider/ProductsState.ts
  src/hooks/useProducts.tsx
Due: npm run format, npm run lint:ts:fix

fix: merge two carts
  src/server/auth-api.ts
  src/server/client.ts
Due: npm run format, npm run lint:ts:fix

Path conditions:
  npm run format: (any of: *.{ts,tsx}) or (any of: *.{css,scss})
  npm run lint:ts:fix: any of: *.{ts,tsx}
  npm run lint:scss:fix: any of: *.{css,scss}
  npm run test:unit: any of: *.{test,spec}.{ts,tsx}
