Repository sorcerers-apprentices/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:ts:fix, npm run lint:scss:fix, npm run test:unit

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["npm run format", "npm run lint:ts:fix"],
  "*.{css,scss}": ["npm run format", "npm run lint:scss:fix"],
  "*.{test,spec}.{ts,tsx}": ["npm run test:unit"]
}

feat: the bucket counter is connected to the provider
  src/components/Header/CartCount/CartCount.tsx
  src/hooks/useCartContext.tsx
Due: npm run format, npm run lint:ts:fix

refactor: changed the component's credentials
  src/components/Header/CartCount/CartCount.tsx
  src/components/Header/CartCount/CartCounter.tsx
  src/components/Header/UserBar/UserBar.tsx
Due: npm run format, npm run lint:ts:fix

feat: add useBasket hook
  src/app/providers/CartProvider/CartProvider.tsx
  src/app/providers/CartProvider/CartReducer.tsx
  src/hooks/useBasket.tsx
Due: npm run format, npm run lint:ts:fix

fix: fix useCart hook
  src/app/providers/CartProvider/CartReducer.tsx
  src/components/CartSection/CartRow/CartRow.tsx
  src/components/CartSection/CartTable/CartTable.tsx
  src/components/Category/ProductList/ProductList.tsx
  src/hooks/useBasket.tsx
  src/hooks/useCart.tsx
Due: npm run format, npm run lint:ts:fix

feat: add message and link for empty cart
  src/components/CartSection/CartSection.module.scss
  src/components/CartSection/CartTable/CartTable.tsx
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add moadl for clear all button
  src/components/CartSection/CartSection.module.scss
  src/components/CartSection/CartTable/CartTable.tsx
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add add/remove button
  src/hooks/useCart.tsx
  src/pages/ProductPage/ProductPage.module.scss
  src/pages/ProductPage/ProductPage.tsx
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add styles for table
  src/components/CartSection/CartRow/CartRow.tsx
  src/components/CartSection/CartSection.module.scss
  src/components/CartSection/CartTable/CartTable.tsx
  src/components/Category/ProductList/ProductList.tsx
  src/styles/base.scss
  src/styles/mixins.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add useState in useCart hook
  src/hooks/useCart.tsx
Due: npm run format, npm run lint:ts:fix

feat: initializing the about us page
  public/images/rs-logo.png
  src/components/AboutCard/AboutCard.module.scss
  src/components/AboutCard/AboutCard.tsx
  src/components/AboutSection/AboutSection.module.scss
  src/components/AboutSection/AboutSection.tsx
  src/pages/AboutPage/AboutPage.tsx
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add promo code to whole cart
  src/components/CartSection/CartTable/CartTable.tsx
  src/hooks/useCart.tsx
  src/server/api.ts
Due: npm run format, npm run lint:ts:fix

feat: add basic styles for about cards
  src/components/AboutCard/AboutCard.module.scss
  src/components/AboutCard/AboutCard.tsx
  src/components/AboutSection/AboutSection.module.scss
  stylelint.config.js
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add little magic
  src/components/Magic/About.tsx
  src/components/Magic/Magic.module.scss
  src/components/Magic/Magic.tsx
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add discount view
  src/components/CartSection/CartRow/CartRow.tsx
  src/components/CartSection/CartSection.tsx
  src/components/CartSection/CartTable/CartTable.tsx
  src/components/CartSection/Discount/Discount.tsx
  src/hooks/useCart.tsx
Due: npm run format, npm run lint:ts:fix

feat: move discount component to cartTable
  src/components/CartSection/CartSection.module.scss
  src/components/CartSection/CartSection.tsx
  src/components/CartSection/CartTable/CartTable.tsx
  src/components/CartSection/Discount/Discount.tsx
  src/hooks/useCart.tsx
  src/styles/base.scss
  src/styles/media.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: added styles to the about us page
  src/components/AboutCard/AboutCard.module.scss
  src/components/AboutCard/AboutCard.tsx
  src/components/AboutSection/AboutSection.module.scss
  src/components/AboutSection/AboutSection.tsx
  src/components/Magic/About.module.scss
  src/components/Magic/About.tsx
  src/components/Magic/Magic.tsx
  src/pages/AboutPage/AboutPage.module.scss
  src/pages/AboutPage/AboutPage.tsx
  stylelint.config.js
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add promo section
  public/images/rat-green.jpg
  src/components/PromoSection/PromoSection.module.scss
  src/components/PromoSection/PromoSection.tsx
  src/pages/MainPage/MainPage.tsx
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: improve styles
  public/images/logo-rs.svg
  src/components/AboutCard/AboutCard.module.scss
  src/components/AboutSection/About/About.module.scss
  src/components/AboutSection/About/About.tsx
  src/components/AboutSection/AboutSection.module.scss
  src/components/AboutSection/AboutSection.tsx
  src/components/HeroSection/HeroSection.module.scss
  src/components/Magic/About.tsx
  src/components/Magic/Magic.module.scss
  src/components/Magic/Magic.tsx
  src/components/PromoSection/PromoSection.module.scss
  src/pages/AboutPage/AboutPage.tsx
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add promo code input, change isAnonymous, change Cart response
  src/components/CartSection/CartSection.module.scss
  src/components/CartSection/CartTable/CartTable.tsx
  src/hooks/useCart.tsx
  src/server/api.ts
  src/server/client.ts
  src/shared/utilities/price.ts
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add removing option
  src/components/CartSection/CartTable/CartTable.tsx
  src/server/api.ts
Due: npm run format, npm run lint:ts:fix

feat: add calculate discount function
  src/components/CartSection/CartTable/CartTable.tsx
Due: npm run format, npm run lint:ts:fix

feat: change prices in Cart table according promo code
  src/components/CartSection/CartRow/CartRow.tsx
  src/components/CartSection/CartSection.module.scss
  src/components/CartSection/CartTable/CartTable.tsx
  src/server/auth-api.ts
  src/server/client.ts
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

fix: fix cart at anonymous and password grant
  src/server/auth-api.ts
  src/server/client.ts
Due: npm run format, npm run lint:ts:fix

feat: refactoring and writing tests
  eslint.config.js
  src/components/CartSection/CartTable/CartTable.tsx
  src/components/Category/RenderCategory/CategoryMenu.tsx
  src/pages/ProductPage/ProductPage.tsx
  src/shared/utilities/type-utilities.test.ts
  src/shared/utilities/type-utilities.ts
Due: npm run format, npm run lint:ts:fix, npm run test:unit

feat: added content for about page
  src/components/AboutCard/AboutCard.module.scss
  src/components/AboutCard/AboutCard.tsx
  src/components/AboutSection/AboutSection.module.scss
  src/components/AboutSection/AboutSection.tsx
  src/components/AboutUs/AboutUs.module.scss
  src/components/AboutUs/AboutUs.tsx
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add promo codes to main page
  src/components/PromoSection/PromoSection.module.scss
  src/components/PromoSection/PromoSection.tsx
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add slider for promocodes
  src/components/PromoSection/PromoSection.module.scss
  src/components/PromoSection/PromoSection.tsx
  src/shared/ui/ArrowSlider/ArrowSlider.module.scss
  src/shared/ui/ArrowSlider/ArrowSlider.tsx
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add bio Ann
  src/components/AboutSection/About/About.tsx
Due: npm run format, npm run lint:ts:fix

feat: improve styles for cart section
  src/components/CartSection/CartRow/CartRow.tsx
  src/components/CartSection/CartSection.module.scss
  src/components/CartSection/CartTable/CartTable.tsx
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: refactoring and writing tests
  src/components/CartSection/CartTable/CartTable.tsx
Due: npm run format, npm run lint:ts:fix

fix: fix conflicts
  src/shared/ui/InputComponent/InputComponent.module.scss
  src/shared/ui/SelectInput/SelectInput.module.scss
Due: npm run format, npm run lint:scss:fix

fix: fixed merge conflicts
  src/components/AboutCard/AboutCard.module.scss
  src/components/AboutSection/About/About.module.scss
  src/components/AboutSection/About/About.tsx
  src/components/AboutSection/AboutSection.tsx
  src/components/AboutUs/AboutUs.module.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: changed logout logic
  src/app/providers/CartProvider/CartReducer.tsx
  src/hooks/useAuth.tsx
Due: npm run format, npm run lint:ts:fix

fix: change cart id after login
  src/components/RegistrationForm/RegistrationForm.tsx
  src/hooks/useAuth.tsx
Due: npm run format, npm run lint:ts:fix

fix: delete heart icon
  src/components/Header/UserBar/UserBar.tsx
Due: npm run format, npm run lint:ts:fix

feat: added footer
  src/components/AboutSection/AboutSection.module.scss
  src/components/Footer/Footer.module.scss
  src/components/LoginSection/LoginSection.module.scss
  src/components/Profile/PasswordSection/PasswordSection.module.scss
  src/components/Profile/ProfileSection/ProfileSection.module.scss
  src/pages/AddressPage/AddressPage.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/pages/PasswordPage/PasswordPage.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/pages/RegistrationPage/RegistrationPage.tsx
  src/styles/base.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix
