Repository sorcerers-apprentices/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:ts:fix, npm run lint:scss:fix, npm run test:unit

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["npm run format", "npm run lint:ts:fix"],
  "*.{css,scss}": ["npm run format", "npm run lint:scss:fix"],
  "*.{test,spec}.{ts,tsx}": ["npm run test:unit"]
}

feat: added paths for application pages
  src/pages/ErrorPage/ErrorPage.tsx
  src/pages/ProfilePage/ProfilePage.async.tsx
  src/pages/RegestrationPage/RegestraationPage.tsx
  src/pages/RegisterPage/RegisterPage.async.tsx
  src/pages/RegisterPage/RegisterPage.tsx
  src/shared/config/routeConfig/routeConfig.tsx
Due: npm run format, npm run lint:ts:fix

feat: add netlify config
  netlify.toml
Due: none

feat: add errors handlers
  src/app/utils/validation.test.ts
  src/app/utils/validation.ts
  src/components/LoginForm/EmailInput.tsx
  src/components/LoginForm/FormButton.tsx
  src/components/LoginForm/Input/EmailInput.tsx
  src/components/LoginForm/Input/PasswordInput.tsx
  src/components/LoginForm/Input/TogglePasswordButton/TogglePasswordButton.tsx
  src/components/LoginForm/LoginForm.tsx
  src/components/LoginForm/PasswordInput.tsx
  src/components/LoginForm/validation.test.ts
  src/components/LoginForm/validation.ts
  src/shared/ui/Button/Button.tsx
Due: npm run format, npm run lint:ts:fix, npm run test:unit

feat: add errorBoundary
  src/app/providers/errorBoundary/errorBoundary.tsx
  src/main.tsx
Due: npm run format, npm run lint:ts:fix

feat: error page implemented
  src/pages/ErrorPage/ErrorPage.tsx
Due: npm run format, npm run lint:ts:fix

feat: add not-found-page
  src/app/App.scss
  src/app/index.scss
  src/app/variables.scss
  src/pages/NotFoundPage/NotFoundPage.scss
  src/pages/NotFoundPage/NotFoundPage.tsx
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

fix: code review
  src/app/App.scss
  src/app/index.scss
  src/app/variables.scss
  src/components/LoginForm/Input/EmailInput.tsx
  src/components/LoginForm/LoginForm.tsx
  src/components/LoginForm/validation.test.ts
  src/pages/NotFoundPage/NotFoundPage.scss
  src/server/api.ts
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix, npm run test:unit

feat: start work at not-found-page
  public/fonts/Caveat.ttf
  public/fonts/SingleDay-Regular.ttf
  public/not-found.jpg
  src/app/App.scss
  src/app/fonts.scss
  src/app/index.scss
  src/app/mixins.scss
  src/pages/NotFoundPage/NotFoundPage.scss
  src/pages/NotFoundPage/NotFoundPage.tsx
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: start work with registration
  eslint.config.js
  src/components/Input/EmailInput.tsx
  src/components/Input/PasswordInput.tsx
  src/components/Input/TextInput.tsx
  src/components/LoginForm/FormButton.tsx
  src/components/LoginForm/Input/TogglePasswordButton/TogglePasswordButton.tsx
  src/components/LoginForm/LoginForm.tsx
  src/components/LoginForm/validation.ts
  src/components/RegistrationForm/RegistrationForm.tsx
  src/pages/RegisterPage/RegisterPage.async.tsx
  src/pages/RegistrationPage/RegistrationPage.async.tsx
  src/pages/RegistrationPage/RegistrationPage.tsx
  src/server/api.ts
  src/shared/config/routeConfig/routeConfig.tsx
  src/shared/types/error-types.ts
  src/shared/ui/Input/Input.tsx
  src/shared/utilities/form-utilities.ts
  src/shared/utilities/type-utilities.ts
  src/shared/utils/validation/validation.test.ts
  src/shared/utils/validation/validation.ts
Due: npm run format, npm run lint:ts:fix, npm run test:unit

feat: add basic styles for a project
  src/App.scss
  src/App.tsx
  src/index.scss
  src/main.tsx
  src/styles/base.scss
  src/styles/fonts.scss
  src/styles/media.scss
  src/styles/mixins.scss
  src/styles/normalize.scss
  src/styles/style.scss
  src/styles/variables.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: delate root from html
  index.html
  src/main.tsx
  src/styles/media.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add registration form
  src/components/Input/CountriesSelect.tsx
  src/components/Input/DateInput.tsx
  src/components/Input/PasswordInput.tsx
  src/components/LoginForm/validation.ts
  src/components/RegistrationForm/RegistrationForm.tsx
  src/pages/RegistrationPage/RegistrationPage.tsx
  src/server/api.ts
  src/shared/ui/Input/Input.tsx
  src/shared/ui/SelectInput/SelectInput.tsx
Due: npm run format, npm run lint:ts:fix

fix: fix bugs in deploy
  netlify.toml
  public/not-found.jpg
  src/app/App.tsx
  src/app/providers/errorBoundary/errorBoundary.tsx
  src/app/providers/router/AppRouter.tsx
  src/components/LoginForm/Input/EmailInput.tsx
  src/components/LoginForm/Input/PasswordInput.tsx
  src/components/LoginForm/Input/TogglePasswordButton/TogglePasswordButton.tsx
  src/components/LoginForm/validation.test.ts
  src/components/LoginForm/validation.ts
  src/pages/LoginPage/LoginPage.async.tsx
  src/pages/MainPage/MainPage.async.tsx
  src/pages/NotFoundPage/NotFoundPage.scss
  src/pages/NotFoundPage/NotFoundPage.tsx
  src/pages/ProfilePage/ProfilePage.async.tsx
  src/pages/RegisterPage/RegisterPage.async.tsx
  src/pages/RegisterPage/RegisterPage.tsx
  src/shared/config/routeConfig/routeConfig.tsx
  src/shared/ui/Loader/Loader.scss
  src/shared/ui/Loader/Loader.tsx
  src/shared/utils/validation/validation.test.ts
  src/shared/utils/validation/validation.ts
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix, npm run test:unit

feat: add media queries
  src/pages/NotFoundPage/NotFoundPage.scss
  src/pages/NotFoundPage/NotFoundPage.tsx
  src/styles/base.scss
  src/styles/media.scss
  src/styles/mixins.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: change adding multiple class input
  src/pages/NotFoundPage/NotFoundPage.tsx
Due: npm run format, npm run lint:ts:fix

feat: add input component, change api and useValidation
  src/components/Input/CountriesSelect.tsx
  src/components/Input/DateInput.tsx
  src/components/Input/EmailInput.tsx
  src/components/Input/PasswordInput.tsx
  src/components/Input/TextInput.tsx
  src/components/LoginForm/LoginForm.tsx
  src/components/RegistrationForm/RegistrationForm.tsx
  src/pages/MainPage/MainPage.tsx
  src/server/api.ts
  src/shared/hooks/useValidate.tsx
  src/shared/types/error-types.ts
  src/shared/ui/InputComponent/Input/Input.tsx
  src/shared/ui/InputComponent/InputComponent.tsx
  src/shared/ui/SelectInput/SelectInput.tsx
  src/shared/utilities/type-utilities.ts
  src/shared/utilities/validation.test.ts
  src/shared/utilities/validation.ts
Due: npm run format, npm run lint:ts:fix, npm run test:unit

feat: add app state
  src/app/App.tsx
  src/app/providers/ProductsProvider/ProductsProvider.tsx
  src/app/providers/UserProvider/UserProvider.tsx
  src/app/store/AppStore.ts
  src/pages/LoginPage/LoginPage.tsx
Due: npm run format, npm run lint:ts:fix

feat: add useValidate for registration form
  eslint.config.js
  src/components/RegistrationForm/RegistrationForm.tsx
  src/shared/ui/InputComponent/InputComponent.tsx
  src/shared/ui/SelectInput/SelectInput.tsx
  src/shared/utilities/form-utilities.ts
  src/shared/utilities/validation.ts
Due: npm run format, npm run lint:ts:fix

refactor: fix imports
  src/app/App.tsx
  src/app/providers/AppRouter/AppRouter.tsx
  src/app/providers/ErrorBoundary/ErrorBoundary.tsx
  src/main.tsx
Due: npm run format, npm run lint:ts:fix

refactor: relocated store
  src/app/providers/ProductsProvider/ProductsProvider.tsx
  src/app/providers/ProductsProvider/ProductsState.ts
  src/app/providers/UserProvider/UserProvider.tsx
  src/app/providers/UserProvider/UserState.ts
  src/app/store/AppStore.ts
Due: npm run format, npm run lint:ts:fix

refactor: provider and the context are separated
  src/app/providers/ProductsProvider/ProductsContext.ts
  src/app/providers/ProductsProvider/ProductsProvider.tsx
  src/app/providers/ProductsProvider/ProductsState.ts
  src/app/providers/UserProvider/UserContext.ts
  src/app/providers/UserProvider/UserProvider.tsx
Due: npm run format, npm run lint:ts:fix

feat: implement client-side validation for required fields in the registration form
  src/components/LoginForm/LoginForm.tsx
  src/components/RegistrationForm/RegistrationForm.tsx
  src/shared/hooks/useValidate.tsx
  src/shared/ui/InputComponent/InputComponent.tsx
  src/shared/ui/SelectInput/SelectInput.tsx
  src/shared/utilities/stats-for-validation.ts
  src/shared/utilities/validation.test.ts
  src/shared/utilities/validation.ts
Due: npm run format, npm run lint:ts:fix, npm run test:unit

feat: add useProducts and useUser hooks
  src/app/providers/ProductsProvider/ProductsContext.ts
  src/app/providers/ProductsProvider/ProductsProvider.tsx
  src/app/providers/UserProvider/UserContext.ts
  src/app/providers/UserProvider/UserProvider.tsx
  src/shared/hooks/useProducts.tsx
  src/shared/hooks/useUser.tsx
Due: npm run format, npm run lint:ts:fix

feat: add reducer for products provider
  src/app/providers/ProductsProvider/ProductsContext.ts
  src/app/providers/ProductsProvider/ProductsProvider.tsx
  src/app/providers/ProductsProvider/ProductsReducer.ts
  src/app/providers/ProductsProvider/ProductsState.ts
Due: npm run format, npm run lint:ts:fix

feat: add reducer for user provider
  src/app/providers/UserProvider/UserContext.ts
  src/app/providers/UserProvider/UserProvider.tsx
  src/app/providers/UserProvider/UserReducer.ts
Due: npm run format, npm run lint:ts:fix

feat: add styles for Error Page
  src/pages/ErrorPage/ErrorPage.tsx
  src/pages/MainPage/MainPage.tsx
  src/styles/base.scss
  src/styles/media.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add header
  src/app/App.tsx
  src/components/Header/Header.scss
  src/components/Header/Header.tsx
  src/components/Header/NavigationBar/NavigationBar.scss
  src/components/Header/NavigationBar/NavigationBar.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/pages/MainPage/MainPage.tsx
  src/pages/RegistrationPage/RegistrationPage.tsx
  src/styles/base.scss
  src/styles/media.scss
  src/styles/mixins.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add logo
  public/images/cat.png
  public/images/dog.jpg
  public/logo.png
  src/app/App.tsx
  src/components/Header/Header.tsx
  src/pages/ErrorPage/ErrorPage.scss
  src/pages/ErrorPage/ErrorPage.tsx
  src/pages/MainPage/MainPage.tsx
  src/pages/NotFoundPage/NotFoundPage.scss
  src/pages/NotFoundPage/NotFoundPage.tsx
  src/styles/base.scss
  src/styles/mixins.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add OG-block
  index.html
  public/logo.png
Due: none

refactor: update vite
  package-lock.json
  package.json
Due: none

feat: add registration token, add server errors, change fetch products and start to fix tests
  src/components/LoginForm/LoginForm.tsx
  src/components/RegistrationForm/RegistrationForm.tsx
  src/pages/MainPage/MainPage.tsx
  src/server/api.ts
  src/server/client.ts
  src/shared/types/error-types.ts
  src/shared/utilities/stats-for-validation.ts
  src/shared/utilities/validation.test.ts
Due: npm run format, npm run lint:ts:fix, npm run test:unit

feat: add styles modules
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/components/LoginForm/LoginForm.tsx
  src/components/LoginForm/style.scss
  src/components/RegistrationForm/RegistrationForm.tsx
  src/pages/ErrorPage/ErrorPage.module.scss
  src/pages/ErrorPage/ErrorPage.tsx
  src/pages/NotFoundPage/NotFoundPage.module.scss
  src/pages/NotFoundPage/NotFoundPage.tsx
  src/pages/RegistrationPage/RegistrationPage.tsx
  src/shared/ui/Button/Button.module.scss
  src/shared/ui/Button/Button.tsx
  src/shared/ui/Form/Form.module.scss
  src/shared/ui/Form/Form.tsx
  src/shared/ui/InputComponent/InputComponent.module.scss
  src/shared/ui/InputComponent/InputComponent.tsx
  src/shared/ui/Loader/Loader.module.scss
  src/shared/ui/Loader/Loader.tsx
  src/styles/base.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add dots for loder using map
  src/shared/ui/Loader/Loader.tsx
Due: npm run format, npm run lint:ts:fix

feat: delate excess props in button
  src/shared/ui/Button/Button.module.scss
  src/shared/ui/Button/Button.tsx
  src/styles/media.scss
Due: npm run format, npm run lint:ts:fix, npm run lint:scss:fix

feat: add refresh token, change registration, fix tests and validation functions
  src/components/LoginForm/LoginForm.tsx
  src/components/RegistrationForm/RegistrationForm.tsx
  src/pages/MainPage/MainPage.tsx
  src/server/api.ts
  src/server/auth-api.ts
  src/server/client.ts
  src/shared/utilities/validation.test.ts
  src/shared/utilities/validation.ts
Due: npm run format, npm run lint:ts:fix, npm run test:unit

feat: delate excess props in Label, Input and InputComponent
  src/components/LoginForm/LoginForm.tsx
  src/components/RegistrationForm/RegistrationForm.tsx
  src/shared/ui/Button/Button.tsx
  src/shared/ui/Input/Input.tsx
  src/shared/ui/InputComponent/Input/Input.tsx
  src/shared/ui/InputComponent/InputComponent.tsx
  src/shared/ui/Label/Label.tsx
Due: npm run format, npm run lint:ts:fix

fix: fix deploy bugs
  src/components/LoginForm/FormButton.tsx
  src/shared/ui/SelectInput/SelectInput.tsx
Due: npm run format, npm run lint:ts:fix

Update MainPage.tsx
  src/pages/MainPage/MainPage.tsx
Due: npm run format, npm run lint:ts:fix

Update LoginForm.tsx
  src/components/LoginForm/LoginForm.tsx
Due: npm run format, npm run lint:ts:fix

feat: add authorization functionality
  src/app/providers/UserProvider/UserState.ts
  src/hooks/useAuth.tsx
  src/hooks/useProducts.tsx
  src/hooks/useUser.tsx
Due: npm run format, npm run lint:ts:fix
